/* SlideBar.css */

.sidebar-container {
  width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-image: url('./assets/mobilebg3.jpg'); /* Specify the path to your background image */
  background-size: cover; /* This property ensures that the background image covers the entire container */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-position: center center; /* Center the background image */
}

.sidebar-title {
  color: #fff; /* Adjust the text color as needed */
}

.sidebar-links {
  list-style-type: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

.sidebar-item {
  margin-bottom: 50px;
}

.sidebar-link {
  text-decoration: none;
  background-color: rgba(253, 242, 248, 0.7);
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  display: flex;
  align-items: center;
}

.sidebar-link:hover {
  background-color: #ff69b4; /* Adjust the hover background color as needed */
  transform: scale(1.05);
  border-radius: 8px;
}

.arrow-icon {
  margin-left: auto;
  color: #fff; /* Adjust the arrow color as needed */
}
